header {
  min-height: 100vh;
  width: 92%;
  margin: 0 auto;
  background: url(../../assets/img/bg-slider-06.jpg) center/cover;
  .header-content1 {
    display: flex;
    justify-content: space-around;

    h3 {
      color: $white1;
      font-family: $font1;
      font-size: 2.2rem;
      margin-top: 25px;
      margin-left: 150px;

      @media screen and (max-width: 485px) {
        margin-left: 75px;
        font-size: 2.3rem;
      }

      @media screen and (max-width: 405px) {
        font-size: 2rem;
        margin-left: 55px;
      }
    }
  }
  .header-content2 {
    text-align: center;
    margin-top: 190px;
    position: relative;
    span {
      @include title1;
      font-size: 3rem;
      font-weight: 100;
      position: absolute;
      bottom: 165px;
      left: 652px;

      @media screen and (max-width: 485px) {
        font-size: 2.2rem;
        top: -60px;
        left: 150px;
      }

      @media screen and (max-width: 405px) {
        font-size: 2rem;
        top: -45px;
        left: 100px;
      }
    }
    h1 {
      @include title2;
      color: $white1;
      text-transform: uppercase;
      font-size: 3rem;
      letter-spacing: 10px;
      margin-bottom: 45px;

      @media screen and (max-width: 485px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 405px) {
        font-size: 1.5rem;
        margin-bottom: -40px;
      }
    }
    img {
      height: 27px;

      @media screen and (max-width: 405px) {
        height: 22px;
        margin-bottom: -120px;
      }
    }
    p {
      color: $white1;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-top: 25px;

      @media screen and (max-width: 485px) {
        font-size: 0.9rem;
        width: 75%;
        margin: 30px auto;
      }

      @media screen and (max-width: 405px) {
        font-size: 0.8rem;
        margin-top: 130px;
      }
    }
  }
}
